body {
  display: flex;
  flex-direction: column;
  min-width: 375px; /**/
  font-family: sans-serif;
  text-align: center;
}

header {
  flex: 0 50px;
  display: flex;
  background-color: lightsteelblue;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: whitesmoke;
  overflow: auto;

}

footer {
  background-color: lightsteelblue;
  text-align: end;
  flex: 0 30px;
  padding: .5em;
  border-radius: 10px;
}

menu {
  /* text-align: end; */
  list-style: none;
  justify-content: space-around;
  flex-direction: row !important;
  display: flex;
  flex: 1;
}

li {
  padding: .5em;
}

h1 {
  font-size: 24px;
  border-bottom: solid white thin;
}

.nav-item a {
  color: white;
  float: right;
}


@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}


